body {
    font-weight: 400;
    background-color: var(--main-color-white);
    color: var(--main-color-dark);
}

.header,
.footer{
    background-color: var(--main-color-light);
}

.hero__item{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 15px 0;
}

.hero__link:hover{
    padding-bottom: 2px;
    border-bottom:1px solid var(--color-accent) ;


}

/*Actor*/
.actorsBio{
    margin-bottom: 100px;

}


.actorsNominations__item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;


}

.actorsBio__descr{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    /*border: 2px solid darkred;*/
}

.actorsBio__img{
    width: 100%;
    /*height: 486px;*/
    border-top-right-radius: 0;
    border-top-left-radius: 0;


}

/*.card__container-img{*/
/*    flex-basis: 50%;*/
/*}*/

.actorsBio__items{
    flex-basis: 90%;

    /*border: 2px solid darkred;*/
}

.actorsBio__text{
    text-align: justify;
    margin-bottom: 10px;
}

.actorsNominations{
    margin-top: 50px;
}

.actorsNominations__title-text{
    text-align: center;
}

.actorsNominations__inform{
    text-align: center;
    margin-bottom: 20px;
}

.actorsNominations__info{
    width: 350px;
    min-height: 90px;
    border: 2px solid var(--main-color-light);

    padding: 15px 15px;
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
    border-radius: 12px;
}

/*.actorsNominations__content{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/


.actorsNominations__profile-title{
    font-size: 14px;
}

.footer__copyright-text{
    color: inherit;
}