body{
    background-color: #1b1b1e;
}

.ball{
    padding: 22vh;
}

.container{
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.ball__container{
    width: 600px;
    height: 400px;
    padding-bottom: 2vh;
    margin: 0 auto;
    border-top: 2px solid #6060ff;
    border-left: 2px solid #ff002d;
    border-right: 2px solid #ff9314;
    border-bottom: 2px solid #ffff4e;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.ball__game{
    width: 25px;
    height: 25px;
    border-radius: 50%;

    animation: ballGame 10s linear  infinite;
}

.ball__line{
    width: 10%;

    animation: lineGame 10s linear  infinite;
}


@keyframes ballGame {
    0%{
        background-color: #ff9314;
        translate: 0;
    }

    5%{
        translate: -287px -200px;
        background-color: #ff9314;
    }
    5.1%{
        background-color: #ff002d;
    }

    10%{
        translate: -100px -374px;
        background-color: #ff002d;
    }
    10.1%{
        background-color: #6060ff;
    }

    15%{
        translate: 20px 0;
    }

    20%{
        translate: 290px -250px;
        background-color: #6060ff;
    }
    20.1%{
        background-color: #ff9314;
    }

    25%{
        translate: 200px -375px;
        background-color: #ff9314;
    }
    25.1%{
        background-color: #6060ff;

    }

    30%{
        translate: -100px 0;
    }

    35%{
        translate: -200px -374px;
    }

    40%{

        translate: -290px -150px;
        background-color: #6060ff;
    }
    40.1%{
        background-color: #ff002d;
    }

    45%{
        translate: -150px 0;
        background-color: #ff002d;
    }

    50%{
        translate: 290px -325px;
        background-color: #ff002d;
    }
    50.1%{
        background-color: #ff9314;
    }

    60%{
        translate: -290px -220px;
        background-color: #ff9314;
    }
    60.1%{
        background-color: #ff002d;
    }

    65%{
        translate: 15px 0;
    }

    70%{
        translate: -156px -374px;
        background-color: #ff002d;
    }
    70.1%{
        background-color: #6060ff;
    }

    75%{
        translate: 290px -115px;
        background-color: #6060ff;
    }
    75.1%{
        background-color: #ff9314;
    }

    80%{
        translate: 45px 0;
    }
    85%{
        translate: 267px -374px;
        background-color: #ff9314;
    }
    85.1%{
        background-color: #6060ff;
    }

    90%{
        translate: -150px 0;
    }

    95%{
        translate: 290px -209px;
        background-color: #6060ff;
    }
    95.1%{
        background-color: #ff9314;
    }

    100%{
        translate: 0;
        background-color: #ff9314;
    }

}

@keyframes lineGame {
    0%{
        border-bottom: 3px solid #ff9314;
    }

    5%{
        translate: -200px 0;
        border-bottom: 3px solid #ff9314;
    }

    7%{
        translate: -100px 0;
        border-bottom: 3px solid #ff9314;
    }

    10%{
        translate: -20px 0;
        border-bottom: 3px solid #ff9314;
    }

    15%{
        translate: 20px 0;
        border-bottom: 3px solid #ff9314;
    }
    15.1%{
        border-bottom: 3px solid #6060ff;
    }

    20%{
        translate: 170px 0;
        border-bottom: 3px solid #6060ff;
    }

    25%{
        translate: 40px 0;
        border-bottom: 3px solid #6060ff;
    }

    30%{
        translate: -90px 0;
        border-bottom: 3px solid #6060ff;
    }

    35%{
        translate: -100px 0;
        border-bottom: 3px solid #6060ff;
    }

    40%{
        translate: -130px 0;
        border-bottom: 3px solid #6060ff;
    }

    45%{
        translate: -140px 0;
        border-bottom: 3px solid #6060ff;
    }

    45.1%{
        border-bottom: 3px solid #ff002d;
    }

    50%{
        translate: -40px 0;
        border-bottom: 3px solid #ff002d;
    }

    55%{
        translate: -80px 0;
        border-bottom: 3px solid #ff002d;
    }

    60%{
        translate: -50px 0;
        border-bottom: 3px solid #ff002d;
    }

    65%{
        translate: 50px 0;
        border-bottom: 3px solid #ff002d;
    }

    70%{
        translate: 30px 0;
        border-bottom: 3px solid #ff002d;
    }

    75%{
        translate: 110px 0;
        border-bottom: 3px solid #ff002d;
    }

    80%{
        translate: 45px 0;
        border-bottom: 3px solid #ff002d;
    }
    80.1%{
        border-bottom: 3px solid #ff9314;
    }

    85%{
        translate: -125px 0;
        border-bottom: 3px solid #ff9314;
    }

    90%{
        translate: -145px 0;
        border-bottom: 3px solid #ff9314;
    }
    90.1%{
        border-bottom: 3px solid #6060ff;
    }

    95%{
        translate: -45px 0;
        border-bottom: 3px solid #6060ff;
    }
    95.1%{
        border-bottom: 3px solid #6060ff;
    }

    100%{
        translate: 0;
        border-bottom: 3px solid #6060ff;
    }
}

