body{
    background-color: #1b1b1e;
    color: white;
}

.snake{
    height: 100vh;
}

.container{
    max-width: 1230px;
    height: 100vh;
    padding: 0 15px;
    margin: 0 auto;
}

.snake__container{
    width: 300px;
    height: 300px;
    margin: 100px auto;
    border: 1px solid blue;
}

.snake__item{
    width: 100%;
    height: 100%;
    display: inline-block;
}

.snake__game{
    z-index: 10;
    width: 10px;
    height: 10px;
    background-color: transparent;

    position: relative;
}

.snake__apple{
    width: 10px;
    height: 10px;
    background-color: #ff0000;
    border-radius: 50%;

    position: absolute;

    animation: snakeApple 12s linear infinite;
}

/*=========================Snake Game===========================*/
.one{
    background-color: transparent;
    animation: snakeGameOne 12s linear infinite;
}

.two{
    background-color: transparent;
    animation: snakeGameTwo 12s linear infinite;
}

.three{
    background-color: transparent;
    animation: snakeGameThree 12s  linear infinite;
}

.four{
    background-color: transparent;
    animation: snakeGameFour 12s  linear infinite;
}

.five{
    background-color: transparent;
    animation: snakeGameFive 12s  linear infinite;
}

.six{
    background-color: transparent;
    animation: snakeGameSix 12s  linear infinite;
}


/*================================SNAKE=================================*/

@keyframes snakeGameOne {
    0%{
        translate: 0;
        background-color: transparent;
    }
    1%{
        translate: 10px 0;
    }
    2%{
        translate: 20px 0;
        background-color: #64ea64;
    }
    3%{
        translate: 30px 0;
    }
    4%{
        translate: 40px 0;
    }
    5%{
        translate: 50px 0;
    }
    6%{
        translate: 50px 10px;
    }
    7%{
        translate: 50px 20px;
    }
    8%{
        translate: 50px 30px;
    }
    9%{
        translate: 50px 40px;
    }
    10%{
        translate: 50px 50px;
    }
    11%{
        translate: 50px 60px;
    }
    12%{
        translate: 50px 70px;
    }
    13%{
        translate: 50px 80px;
    }
    14%{
        translate: 50px 90px;
    }
    15%{
        translate: 50px 100px;
    }
    16%{
        translate: 50px 110px;
    }
    17%{
        translate: 50px 120px;
    }
    18%{
        translate: 50px 130px;
    }
    19%{
        translate: 50px 140px;
    }
    20%{
        translate: 50px 150px;
    }
    21%{
        translate: 60px 150px;
    }
    22%{
        translate: 70px 150px;
    }
    23%{
        translate: 80px 150px;
    }
    24%{
        translate: 90px 150px;
    }
    25%{
        translate: 100px 150px;
    }
    26%{
        translate: 110px 150px;
    }
    27%{
        translate: 120px 150px;
    }
    28%{
        translate: 130px 150px;
    }
    29%{
        translate: 130px 140px;
    }
    30%{
        translate: 130px 130px;
    }
    31%{
        translate: 130px 120px;
    }
    32%{
        translate: 130px 110px;
    }
    33%{
        translate: 130px 100px;
    }
    34%{
        translate: 130px 90px;
    }
    35%{
        translate: 130px 80px;
    }
    36%{
        translate: 130px 70px;
    }
    37%{
        translate: 130px 60px;
    }
    38%{
        translate: 130px 50px;
    }
    39%{
        translate: 130px 40px;
    }
    40%{
        translate: 140px 40px;
    }
    41%{
        translate: 150px 40px;
    }
    42%{
        translate: 150px 50px;
    }
    43%{
        translate: 150px 60px;
    }
    44%{
        translate: 150px 70px;
    }
    45%{
        translate: 150px 80px;
    }
    46%{
        translate: 150px 90px;
    }
    47%{
        translate: 150px 100px;
    }
    48%{
        translate: 150px 110px;
    }
    49%{
        translate: 150px 120px;
    }
    50%{
        translate: 150px 130px;
    }
    51%{
        translate: 150px 140px;
    }
    52%{
        translate: 150px 150px;
    }
    53%{
        translate: 150px 160px;
    }
    54%{
        translate: 150px 170px;
    }
    55%{
        translate: 150px 180px;
    }
    56%{
        translate: 150px 190px;
    }
    57%{
        translate: 150px 200px;
    }
    58%{
        translate: 150px 210px;
    }
    59%{
        translate: 150px 220px;
    }
    60%{
        translate: 150px 230px;
    }
    61%{
        translate: 150px 240px;
    }
    62%{
        translate: 150px 250px;
    }
    63%{
        translate: 150px 260px;
    }
    64%{
        translate: 160px 260px;
    }
    65%{
        translate: 170px 260px;
    }
    66%{
        translate: 180px 260px;
    }
    67%{
        translate: 190px 260px;
    }
    68%{
        translate: 200px 260px;
    }
    69%{
        translate: 210px 260px;
    }
    70%{
        translate: 220px 260px;
    }
    71%{
        translate: 230px 260px;
    }
    72%{
        translate: 230px 250px;
    }
    73%{
        translate: 230px 240px;
    }
    74%{
        translate: 230px 230px;
    }
    75%{
        translate: 230px 220px;
    }
    76%{
        translate: 230px 210px;
    }
    77%{
        translate: 230px 200px;
    }
    78%{
        translate: 230px 190px;
    }
    79%{
        translate: 230px 180px;
    }
    80%{
        translate: 230px 170px;
    }
    81%{
        translate: 230px 160px;
    }
    82%{
        translate: 230px 150px;
    }
    83%{
        translate: 230px 140px;
    }
    84%{
        translate: 230px 130px;
    }
    85%{
        translate: 230px 120px;
    }
    86%{
        translate: 230px 110px;
    }
    87%{
        translate: 230px 100px;
    }
    88%{
        translate: 230px 90px;
    }
    89%{
        translate: 230px 80px;
    }
    90%{
        translate: 230px 70px;
    }
    91%{
        translate: 230px 60px;
    }
    92%{
        translate: 230px 50px;
    }
    93%{
        translate: 230px 40px;
    }
    94%{
        translate: 230px 30px;
    }
    95%{
        translate: 230px 20px;

    }
    96%{
        translate: 230px 10px;
        background-color: #64ea64;
    }
    97%{
        translate: 220px 10px;
    }
    98%{
        translate: 210px 10px;
        background-color: transparent;
    }
    99%{
        background-color: transparent;
    }
    100%{
        background-color: transparent;
    }
}

@keyframes snakeGameTwo {
    0%{
        translate: 0;
        background-color: transparent;
    }
    1%{
        translate: 0 -10px;
    }
    2%{
        translate: 10px -10px;
        background-color: #64ea64;
    }
    3%{
        translate: 20px -10px;
    }
    4%{
        translate: 30px -10px;
    }
    5%{
        translate: 40px -10px;
    }
    6%{
        translate: 50px -10px;
    }
    7%{
        translate: 50px 0;
    }
    8%{
        translate: 50px 10px;
    }
    9%{
        translate: 50px 20px;
    }
    10%{
        translate: 50px 30px;
    }
    11%{
        translate: 50px 40px;
    }
    12%{
        translate: 50px 50px;
    }
    13%{
        translate: 50px 60px;
    }
    14%{
        translate: 50px 70px;
    }
    15%{
        translate: 50px 80px;
    }
    16%{
        translate: 50px 90px;
    }
    17%{
        translate: 50px 100px;
    }
    18%{
        translate: 50px 110px;
    }
    19%{
        translate: 50px 120px;
    }
    20%{
        translate: 50px 130px;
    }
    21%{
        translate: 50px 140px;
    }
    22%{
        translate: 60px 140px;
    }
    23%{
        translate: 70px 140px;
    }
    24%{
        translate: 80px 140px;
    }
    25%{
        translate: 90px 140px;
    }
    26%{
        translate: 100px 140px;
    }
    27%{
        translate: 110px 140px;
    }
    28%{
        translate: 120px 140px;
    }
    29%{
        translate: 130px 140px;
    }
    30%{
        translate: 130px 130px;
    }
    31%{
        translate: 130px 120px;
    }
    32%{
        translate: 130px 110px;
    }
    33%{
        translate: 130px 100px;
    }
    34%{
        translate: 130px 90px;
    }
    35%{
        translate: 130px 80px;
    }
    36%{
        translate: 130px 70px;
    }
    37%{
        translate: 130px 60px;
    }
    38%{
        translate: 130px 50px;
    }
    39%{
        translate: 130px 40px;
    }
    40%{
        translate: 130px 30px;
    }
    41%{
        translate: 140px 30px;
    }
    42%{
        translate: 150px 30px;
    }
    43%{
        translate: 150px 40px;
    }
    44%{
        translate: 150px 50px;
    }
    45%{
        translate: 150px 60px;
    }
    46%{
        translate: 150px 70px;
    }
    47%{
        translate: 150px 80px;
    }
    48%{
        translate: 150px 90px;
    }
    49%{
        translate: 150px 100px;
    }
    50%{
        translate: 150px 110px;
    }
    51%{
        translate: 150px 120px;
    }
    52%{
        translate: 150px 130px;
    }
    53%{
        translate: 150px 140px;
    }
    54%{
        translate: 150px 150px;
    }
    55%{
        translate: 150px 160px;
    }
    56%{
        translate: 150px 170px;
    }
    57%{
        translate: 150px 180px;
    }
    58%{
        translate: 150px 190px;
    }
    59%{
        translate: 150px 200px;
    }
    60%{
        translate: 150px 210px;
    }
    61%{
        translate: 150px 220px;
    }
    62%{
        translate: 150px 230px;
    }
    63%{
        translate: 150px 240px;
    }
    64%{
        translate: 150px 250px;
    }
    65%{
        translate: 160px 250px;
    }
    66%{
        translate: 170px 250px;
    }
    67%{
        translate: 180px 250px;
    }
    68%{
        translate: 190px 250px;
    }
    69%{
        translate: 200px 250px;
    }
    70%{
        translate: 210px 250px;
    }
    71%{
        translate: 220px 250px;
    }
    72%{
        translate: 230px 250px;
    }
    73%{
        translate: 230px 240px;
    }
    74%{
        translate: 230px 230px;
    }
    75%{
        translate: 230px 220px;
    }
    76%{
        translate: 230px 210px;
    }
    77%{
        translate: 230px 200px;
    }
    78%{
        translate: 230px 190px;
    }
    79%{
        translate: 230px 180px;
    }
    80%{
        translate: 230px 170px;
    }
    81%{
        translate: 230px 160px;
    }
    82%{
        translate: 230px 150px;
    }
    83%{
        translate: 230px 140px;
    }
    84%{
        translate: 230px 130px;
    }
    85%{
        translate: 230px 120px;
    }
    86%{
        translate: 230px 110px;
    }
    87%{
        translate: 230px 100px;
    }
    88%{
        translate: 230px 90px;
    }
    89%{
        translate: 230px 80px;
    }
    90%{
        translate: 230px 70px;
    }
    91%{
        translate: 230px 60px;
    }
    92%{
        translate: 230px 50px;
    }
    93%{
        translate: 230px 40px;
    }
    94%{
        translate: 230px 30px;
    }
    95%{
        translate: 230px 20px;
    }
    96%{
        translate: 230px 10px;
        background-color: #64ea64;
    }
    97%{
        translate: 230px 0;
    }
    98%{
        translate: 220px 0;
        background-color: transparent;
    }
    99%{
        background-color: transparent;
    }
    100%{
        background-color: transparent;
    }

}

@keyframes snakeGameThree {
    0%{
        translate: 0;
        background-color: transparent;
    }
    1%{
        translate: 0 -10px;
    }
    2%{
        translate: 0 -20px;
        background-color: #64ea64;
    }
    3%{
        translate: 10px -20px;
    }
    4%{
        translate: 20px -20px;
    }
    5%{
        translate: 30px -20px;
    }
    6%{
        translate: 40px -20px;
    }
    7%{
        translate: 50px -20px;
    }
    8%{
        translate: 50px -10px;

    }
    9%{
        translate: 50px 0;

    }
    10%{
        translate: 50px 10px;

    }
    11%{
        translate: 50px 20px;

    }
    12%{
        translate: 50px 30px;
    }
    13%{
        translate: 50px 40px;
    }
    14%{
        translate: 50px 50px;
    }
    15%{
        translate: 50px 60px;
    }
    16%{
        translate: 50px 70px;
    }
    17%{
        translate: 50px 80px;
    }
    18%{
        translate: 50px 90px;
    }
    19%{
        translate: 50px 100px;
    }
    20%{
        translate: 50px 110px;
    }
    21%{
        translate: 50px 120px;
    }
    22%{
        translate: 50px 130px;
    }
    23%{
        translate: 60px 130px;
    }
    24%{
        translate: 70px 130px;
    }
    25%{
        translate: 80px 130px;
    }
    26%{
        translate: 90px 130px;
    }
    27%{
        translate: 100px 130px;
    }
    28%{
        translate: 110px 130px;
    }
    29%{
        translate: 120px 130px;
    }
    30%{
        translate: 130px 130px;
    }
    31%{
        translate: 130px 120px;
    }
    32%{
        translate: 130px 110px;
    }
    33%{
        translate: 130px 100px;
    }
    34%{
        translate: 130px 90px;
    }
    35%{
        translate: 130px 80px;
    }
    36%{
        translate: 130px 70px;
    }
    37%{
        translate: 130px 60px;
    }
    38%{
        translate: 130px 50px;
    }
    39%{
        translate: 130px 40px;
    }
    40%{
        translate: 130px 30px;
    }
    41%{
        translate: 130px 20px;
    }
    42%{
        translate: 140px 20px;
    }
    43%{
        translate: 150px 20px;
    }
    44%{
        translate: 150px 30px;
    }
    45%{
        translate: 150px 40px;
    }
    46%{
        translate: 150px 50px;
    }
    47%{
        translate: 150px 60px;
    }
    48%{
        translate: 150px 70px;
    }
    49%{
        translate: 150px 80px;
    }
    50%{
        translate: 150px 90px;
    }
    51%{
        translate: 150px 100px;
    }
    52%{
        translate: 150px 110px;
    }
    53%{
        translate: 150px 120px;
    }
    54%{
        translate: 150px 130px;
    }
    55%{
        translate: 150px 140px;
    }
    56%{
        translate: 150px 150px;
    }
    57%{
        translate: 150px 160px;
    }
    58%{
        translate: 150px 170px;
    }
    59%{
        translate: 150px 180px;
    }
    60%{
        translate: 150px 190px;
    }
    61%{
        translate: 150px 200px;
    }
    62%{
        translate: 150px 210px;
    }
    63%{
        translate: 150px 220px;
    }
    64%{
        translate: 150px 230px;
    }
    65%{
        translate: 150px 240px;
    }
    66%{
        translate: 160px 240px;
    }
    67%{
        translate: 170px 240px;

    }
    68%{
        translate: 180px 240px;
    }
    69%{
        translate: 190px 240px;
    }
    70%{
        translate: 200px 240px;
    }
    71%{
        translate: 210px 240px;
    }
    72%{
        translate: 220px 240px;
    }
    73%{
        translate: 230px 240px;
    }
    74%{
        translate: 230px 230px;
    }
    75%{
        translate: 230px 220px;
    }
    76%{
        translate: 230px 210px;
    }
    77%{
        translate: 230px 200px;
    }
    78%{
        translate: 230px 190px;
    }
    79%{
        translate: 230px 180px;
    }
    80%{
        translate: 230px 170px;
    }
    81%{
        translate: 230px 160px;
    }
    82%{
        translate: 230px 150px;
    }
    83%{
        translate: 230px 140px;
    }
    84%{
        translate: 230px 130px;
    }
    85%{
        translate: 230px 120px;
    }
    86%{
        translate: 230px 110px;
    }
    87%{
        translate: 230px 100px;
    }
    88%{
        translate: 230px 90px;
    }
    89%{
        translate: 230px 80px;
    }
    90%{
        translate: 230px 70px;
    }
    91%{
        translate: 230px 60px;
    }
    92%{
        translate: 230px 50px;
    }
    93%{
        translate: 230px 40px;
    }
    94%{
        translate: 230px 30px;
    }
    95%{
        translate: 230px 20px;
    }
    96%{
        translate: 230px 10px;
        background-color: #64ea64;
    }
    97%{
        translate: 230px 0;
    }
    98%{
        translate: 230px -10px;
        background-color: transparent;
    }
    99%{
        background-color: transparent;
    }
    100%{
        background-color: transparent;
    }

}

@keyframes snakeGameFour {
    0%,16%{
        translate: 50px 60px;
        background-color: transparent;
    }
    17%{
        translate: 50px 60px;
        background-color: #64ea64;
    }
    18%{
        translate: 50px 70px;
    }
    19%{
        translate: 50px 80px;
    }
    20%{
        translate: 50px 90px;
    }
    21%{
        translate: 50px 100px;
    }
    22%{
        translate: 50px 110px;
    }
    23%{
        translate: 50px 120px;
    }
    24%{
        translate: 60px 120px;
    }
    25%{
        translate: 70px 120px;
    }
    26%{
        translate: 80px 120px;
    }
    27%{
        translate: 90px 120px;
    }
    28%{
        translate: 100px 120px;
    }
    29%{
        translate: 110px 120px;
    }
    30%{
        translate: 120px 120px;
    }
    31%{
        translate: 130px 120px;
    }
    32%{
        translate: 130px 110px;
    }
    33%{
        translate: 130px 100px;
    }
    34%{
        translate: 130px 90px;
    }
    35%{
        translate: 130px 80px;
    }
    36%{
        translate: 130px 70px;
    }
    37%{
        translate: 130px 60px;
    }
    38%{
        translate: 130px 50px;
    }
    39%{
        translate: 130px 40px;
    }
    40%{
        translate: 130px 30px;
    }
    41%{
        translate: 130px 20px;
    }
    42%{
        translate: 130px 10px;
    }
    43%{
        translate: 140px 10px;
    }
    44%{
        translate: 150px 10px;
    }
    45%{
        translate: 150px 20px;
    }
    46%{
        translate: 150px 30px;
    }
    47%{
        translate: 150px 40px;
    }
    48%{
        translate: 150px 50px;
    }
    49%{
        translate: 150px 60px;
    }
    50%{
        translate: 150px 70px;
    }
    51%{
        translate: 150px 80px;
    }
    52%{
        translate: 150px 90px;
    }
    53%{
        translate: 150px 100px;
    }
    54%{
        translate: 150px 110px;
    }
    55%{
        translate: 150px 120px;
    }
    56%{
        translate: 150px 130px;
    }
    57%{
        translate: 150px 140px;
    }
    58%{
        translate: 150px 150px;
    }
    59%{
        translate: 150px 160px;
    }
    60%{
        translate: 150px 170px;
    }
    61%{
        translate: 150px 180px;
    }
    62%{
        translate: 150px 190px;
    }
    63%{
        translate: 150px 200px;
    }
    64%{
        translate: 150px 210px;
    }
    65%{
        translate: 150px 220px;
    }
    66%{
        translate: 150px 230px;
    }
    67%{
        translate: 160px 230px;
    }
    68%{
        translate: 170px 230px;
    }
    69%{
        translate: 180px 230px;
    }
    70%{
        translate: 190px 230px;
    }
    71%{
        translate: 200px 230px;
    }
    72%{
        translate: 210px 230px;
    }
    73%{
        translate: 220px 230px;
    }
    74%{
        translate: 230px 230px;
    }
    75%{
        translate: 230px 220px;
    }
    76%{
        translate: 230px 210px;
    }
    77%{
        translate: 230px 200px;
    }
    78%{
        translate: 230px 190px;
    }
    79%{
        translate: 230px 180px;
    }
    80%{
        translate: 230px 170px;
    }
    81%{
        translate: 230px 160px;
    }
    82%{
        translate: 230px 150px;
    }
    83%{
        translate: 230px 140px;
    }
    84%{
        translate: 230px 130px;
    }
    85%{
        translate: 230px 120px;
    }
    86%{
        translate: 230px 110px;
    }
    87%{
        translate: 230px 100px;
    }
    88%{
        translate: 230px 90px;
    }
    89%{
        translate: 230px 80px;
    }
    90%{
        translate: 230px 70px;
    }
    91%{
        translate: 230px 60px;
    }
    92%{
        translate: 230px 50px;
    }
    93%{
        translate: 230px 40px;
    }
    94%{
        translate: 230px 30px;
    }
    95%{
        translate: 230px 20px;
    }
    96%{
        translate: 230px 10px;
        background-color: #64ea64;
    }
    97%{
        translate: 230px 0;
    }
    98%{
        translate: 230px -10px;
        background-color: transparent;
    }
    99%{
        background-color: transparent;
    }
    100%{
        background-color: transparent;
    }

}

@keyframes snakeGameFive {
    0%, 35%{
        translate: 130px 60px;
        background-color: transparent;
    }
    36%{
        translate: 130px 60px;
        background-color: #64ea64;
    }
    37%{
        translate: 130px 60px;
    }
    38%{
        translate: 130px 50px;
    }
    39%{
        translate: 130px 40px;
    }
    40%{
        translate: 130px 30px;
    }
    41%{
        translate: 130px 20px;
    }
    42%{
        translate: 130px 10px;
    }
    43%, 100%{
        translate: 130px 0;
    }
    44%{
        translate: 140px 0;
    }
    45%{
        translate: 150px 0;
    }
    46%{
        translate: 150px 10px;
    }
    47%{
        translate: 150px 20px;
    }
    48%{
        translate: 150px 30px;
    }
    49%{
        translate: 150px 40px;
    }
    50%{
        translate: 150px 50px;
    }
    51%{
        translate: 150px 60px;
    }
    52%{
        translate: 150px 70px;
    }
    53%{
        translate: 150px 80px;
    }
    54%{
        translate: 150px 90px;
    }
    55%{
        translate: 150px 100px;
    }
    56%{
        translate: 150px 110px;
    }
    57%{
        translate: 150px 120px;
    }
    58%{
        translate: 150px 130px;
    }
    59%{
        translate: 150px 140px;
    }
    60%{
        translate: 150px 150px;
    }
    61%{
        translate: 150px 160px;
    }
    62%{
        translate: 150px 170px;
    }
    63%{
        translate: 150px 180px;
    }
    64%{
        translate: 150px 190px;
    }
    65%{
        translate: 150px 200px;
    }
    66%{
        translate: 150px 210px;
    }
    67%{
        translate: 150px 220px;
    }
    68%{
        translate: 160px 220px;
    }
    69%{
        translate: 170px 220px;
    }
    70%{
        translate: 180px 220px;
    }
    71%{
        translate: 190px 220px;
    }
    72%{
        translate: 200px 220px;
    }
    73%{
        translate: 210px 220px;
    }
    74%{
        translate: 220px 220px;
    }
    75%{
        translate: 230px 220px;
    }
    76%{
        translate: 230px 210px;
    }
    77%{
        translate: 230px 200px;
    }
    78%{
        translate: 230px 190px;
    }
    79%{
        translate: 230px 180px;
    }
    80%{
        translate: 230px 170px;
    }
    81%{
        translate: 230px 160px;
    }
    82%{
        translate: 230px 150px;
    }
    83%{
        translate: 230px 140px;
    }
    84%{
        translate: 230px 130px;
    }
    85%{
        translate: 230px 120px;
    }
    86%{
        translate: 230px 110px;
    }
    87%{
        translate: 230px 100px;
    }
    88%{
        translate: 230px 90px;
    }
    89%{
        translate: 230px 80px;
    }
    90%{
        translate: 230px 70px;
    }
    91%{
        translate: 230px 60px;
    }
    92%{
        translate: 230px 50px;
    }
    93%{
        translate: 230px 40px;
    }
    94%{
        translate: 230px 30px;
    }
    95%{
        translate: 230px 20px;
    }
    96%{
        translate: 230px 10px;
        background-color: #64ea64;
    }
    97%{
        translate: 230px 0;
    }
    98%{
        translate: 230px -10px;
        background-color: transparent;
    }
    99%{
        background-color: transparent;
    }

    100%{
        background-color: transparent;
    }

}

@keyframes snakeGameSix {
    0%,68%{
        translate: 160px 210px;
        background-color: transparent;
    }
    69%{
        translate: 160px 210px;
        background-color: #64ea64;
    }
    70%{
        translate: 170px 210px;
    }
    71%{
        translate: 180px 210px;
    }
    72%{
        translate: 190px 210px;
    }
    73%{
        translate: 200px 210px;
    }
    74%{
        translate: 210px 210px;
    }
    75%{
        translate: 220px 210px;
    }
    76%{
        translate: 230px 210px;
    }
    77%{
        translate: 230px 200px;
    }
    78%{
        translate: 230px 190px;
    }
    79%{
        translate: 230px 180px;
    }
    80%{
        translate: 230px 170px;
    }
    81%{
        translate: 230px 160px;
    }
    82%{
        translate: 230px 150px;
    }
    83%{
        translate: 230px 140px;
    }
    84%{
        translate: 230px 130px;
    }
    85%{
        translate: 230px 120px;
    }
    86%{
        translate: 230px 110px;
    }
    87%{
        translate: 230px 100px;
    }
    88%{
        translate: 230px 90px;
    }
    89%{
        translate: 230px 80px;
    }
    90%{
        translate: 230px 70px;
    }
    91%{
        translate: 230px 60px;
    }
    92%{
        translate: 230px 50px;
    }
    93%{
        translate: 230px 40px;
    }
    94%{
        translate: 230px 30px;
    }
    95%{
        translate: 230px 20px;
    }
    96%{
        translate: 230px 10px;
        background-color: #64ea64;
    }
    97%{
        translate: 230px 0;
    }
    98%{
        translate: 230px -10px;
        background-color: transparent;
    }
    99%{
        background-color: transparent;
    }

    100%{
        background-color: transparent;
    }

}

/*+++++++++++++++++++++++++APPLE++++++++++++++++++++++++++++++++++++*/
@keyframes snakeApple {
    0%, 18%{
        translate: 50px 50px;
        background-color: #ff0000;
    }
    19%{
        translate: 50px 50px;
        background-color: transparent;
    }
    20%{
        translate: 130px 10px;
        background-color: transparent;
    }
    21%, 37% {
        translate: 130px 10px;
        background-color: #ff0000;
    }
    38%{
        translate: 130px 10px;
        background-color: transparent;
    }
    39%{
        translate: 200px 200px;
        background-color: transparent;
    }
    40%, 69%{
        translate: 200px 200px;
        background-color: #ff0000;
    }
    70%{
        translate: 200px 200px;
        background-color: transparent;

    }
    72%,100%{
        translate: 10px -50px;
        background-color: transparent;
    }
}

